<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "CRM", root_path, :class => 'brand' %>
	<ul class="nav">
	  <% if user_signed_in? %>
		<li>
		<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
		</li>
	  <% else %>
		<li>
		<%= link_to 'Login', new_user_session_path %>
		</li>
	  <% end %>
	  
	  <% if user_signed_in? %>
		<% if can? :read, User %>
		    <li>
		        <%= link_to 'Edit account', edit_user_registration_path %>
		    </li>    
		<%end%>
	  <% else %>
		<li>
		<%= link_to 'Sign up', new_user_registration_path %>
		</li>
	  <% end %>
	  <%tab_crms = TabCrm.all%>
	  <% unless tab_crms.blank?%>
		  <% tab_crms.each do |tab_crm|%>
			 <% if can? :read, tab_crm %>
				  <li>
					  <%= link_to tab_crm.tab_name, '#' %>
				  </li>    
			  <%end%>   
		  <%end%>
	  <%end%>	  
	</ul>
<%= yield %>

</body>
</html>
